<div class="animate__animated animate__fadeIn">
    <div class="login-wrap">
        <form  [formGroup]="LoginForm" (ngSubmit)="Login()">
          <label for="lname">Cuenta</label>
          <input 
                type="text" 
                id="cuenta"
                formControlName="correo"
            >
            <label for="lname">Contrasenia</label>
            <input 
                  type="password" 
                  id="cuenta" 
                  formControlName="contrasenia"
              >
        
          <input type="submit" value="Submit">
        </form>
      </div>
      
</div>