<div class="animate__animated animate__fadeIn">
    <div>
        <form [formGroup]="form" (ngSubmit)="AddUser()">
          <label for="fname">Nombre(s)</label>
          <input 
                type="text" 
                id="fname" 
                name="nombre" 
                formControlName="nombre"
                placeholder="Escribe tu nombre">
      
          <label for="lname">Apellido(s)</label>
          <input 
                type="text" 
                id="lname" 
                formControlName="apellidos"
            >

          <label for="lname">Cuenta</label>
          <input 
                type="text" 
                id="cuenta" 
                formControlName="correo"
            >
            <label for="lname">Contrasenia</label>
            <input 
                  type="text" 
                  id="cuenta" 
                  formControlName="contrasenia"
              >
      
          <label for="country">Rol de Usuario</label>
          <select formControlName="idRol">
            <option *ngFor="let item of Roles" value="{{item.idRol}}">{{item.descripcion}}</option>
          </select>
        
          <input type="submit" value="Submit">
        </form>
      </div>
      
</div>