<div class="animate__animated animate__fadeIn">
    <table id="customers" *ngIf="ShowTable">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Apellidos</th>
          <th>Correo</th>
          <th>Estatus</th>
          <th>Rol</th>
        </tr>
      </thead>   
      <tbody>
        <tr *ngFor="let item of Model">
          <td>{{item.nombre}}</td>
          <td>{{item.apellidos}}</td>
          <td>{{item.correo}}</td>
          <td>{{item.estatus}}</td>
          <td>{{item.rol}}</td>
        </tr>
      </tbody>
    </table>
    <app-alert *ngIf="!ShowTable"></app-alert>
</div>
