<div class="sidebar">
    <ul>
      <li>
       <a [routerLink]="['/Dashboard/Usuarios']" routerLinkActive="active" >
          <span class="icon"><i class="fas fa-user"></i></span>
          <span class="title">Usuarios</span>
      </a>
      </li>
      <li>
        <a [routerLink]="['/Dashboard/ListaUsuarios']" routerLinkActive="active" >
          <span class="icon"><i class="fas fa-file-video"></i></span>
          <span class="title">Ver Usuarios</span>
        </a>
      </li>
  </ul>
</div>
